/* Custom styles for the chat room */
body.bg-gradient {
	background: rgb(2, 0, 36);
	background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(255, 111, 97, 1) 50%, rgba(0, 212, 255, 1) 100%);
	font-family: 'Roboto', sans-serif;
	height: 100vh;
	margin: 0;
	display: flex;
	justify-content: center;
	align-items: center;
}

.card {
	border-radius: 15px;
}

.welcome-text {
	font-family: 'Pacifico', cursive;
	font-size: 2.5rem;
	color: #ff6f61;
	text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

.brand-name {
	font-family: 'Pacifico', sans-serif;
	color: #00adb5;
	font-size: 2.5rem;
	text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

.profile-card {
	max-width: 100%;
	margin-bottom: 10px;
	border-radius: 10px;
}

.status-section {
	margin-top: 20px;
}

.status {
	display: flex;
	align-items: center;
	margin-bottom: 10px;
}

.status-img {
	width: 50px;
	height: 50px;
	border-radius: 50%;
	margin-right: 10px;
}

.status-info {
	font-size: 14px;
}

.message-author {
	text-transform: capitalize;
	font-family: 'Great Vibes', cursive;
	font-weight: normal;
	color: #00adb5;
	/* Aqua color */
}

.message-time {
	color: #666;
	/* Subtle gray color for timestamp */
	font-size: 0.9em;
	/* Slightly smaller font size */
}

.message-content {
	font-family: 'Lobster', cursive;
	color: #006d77;
	/* Dark teal shade */
	text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
}


@media (max-width: 991px) {
	.bg-gradient {
		background: #f0f0f0;
		/* Fallback color */
	}

	.row.h-100 {
		height: auto;
	}

	.col-lg-3.d-none.d-lg-block {
		display: block !important;
	}
}

.welcome-user-msg {
	font-family: 'Pacifico', cursive;
	font-size: 1.5rem;
	color: #ff6f61;
	text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
	text-transform: capitalize;
}
.custom-footer{
	font-family: 'Lobster', cursive;
	font-size: 1rem;
	color: #ff6f61;
	text-transform: capitalize;
	text-decoration: none;
}
.author-name{
	font-family: 'Pacifico', cursive;
	font-size: 1.2rem;
	text-decoration: none;
}

